.random {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.create-account-main {
  max-width: 550px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-account-mid {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.character-img {
  width: 150px;
  display: block;
  object-fit: cover;
}

.create-account-character {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
