.create-account-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.create-account-mid {
  padding-top: 1rem;
  width: 330px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.character-img {
  width: 150px;
  display: block;
  object-fit: cover;
}

.create-account-character {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.random {
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}
.create-account-character-change-button:hover {
  cursor: pointer;
}

.create-account-input {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.create-account-go-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
}
