.home-main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1595538742276-54d443f3b575?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1888&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: -4.25rem;
}

.home-mid--top {
  font-family: sans-serif;
  font-style: italic;
  font-weight: 900;
  margin-top: 1rem;
  font-size: 2rem;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.home-mid {
  position: relative;
  color: white;
  background-color: #0008;
  backdrop-filter: blur(1rem);
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  border: 1px solid grey;
  /* box-shadow: inset 1rem 1rem 2rem 0.5rem #fff8,
    inset -1rem -1rem 2rem 0.5rem #0008; */
  flex-direction: column;
  justify-content: center;
}

.home-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-buttons button {
  background: black;
  border: 1px solid grey;
  padding: 0.5rem 1rem;
  width: 100%;
}

.home-buttons button:first-of-type {
  border-right: 0;
  border-top-left-radius: 0.5rem;
}

.home-buttons button:last-of-type {
  border-top-right-radius: 0.5rem;
}

.home-mid--bottom input {
  background: black;
  border: 1px solid grey;
  border-top: 0;
  padding: 0.5rem 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.change-profile {
  background: #65c9ff;
  border-radius: 0 100% 100% 0;
  border: 1px solid grey;
  border-left: 0;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
}
